<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EnableMouseActivitySimulation" value="true" />
    <add key="MouseActivityInterval" value="12000" />
	 <add key="MouseMoveStep" value="1" />
    <add key="TestEnvironmentUrl" value="http://127.0.0.1" />
  </appSettings>
</configuration>