<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	  <add key="CheckInEnabled" value="true" />
	  <add key="MorningCheckInTime" value="09:00:00" />
	  <add key="EveningCheckInTime" value="18:00:00" />
	  <add key="RandomMinutes" value="10" />
    <add key="EnableMouseActivitySimulation" value="true" />
    <add key="MouseActivityInterval" value="12000" />
	 <add key="MouseMoveStep" value="1" />
    <add key="TestEnvironmentUrl" value="http://www.google.com" />
  </appSettings>
</configuration>