<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="logs/internal-nlog.txt">

  <!-- 目标 -->
  <targets>
    <!-- 文件目标 -->
    <target xsi:type="File" name="logfile" 
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archive/log.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- 控制台目标 -->
    <target xsi:type="Console" name="console" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- 规则 -->
  <rules>
    <!-- 所有日志 -->
    <logger name="*" minlevel="Debug" writeTo="logfile,console" />
  </rules>
</nlog> 